.custom-width{
    width: 90%;
}

@media only screen and (device-width: 768px) and (device-height: 1024px) {
    //ipad mini
    .custom-width{
        width: 90%;
    }
  }

  @media only screen and (device-width: 820px) and (device-height: 1180px) {
//ipad air
    .custom-width{
        width: 80%;
    }
  }


  @media only screen and (device-width: 912px) and (device-height: 1368px) {
    //surface
    .custom-width{
        width: 80%;
    }
  }

  /* Media Query for Mobile Devices */
  @media (max-width: 480px) {
    .custom-width{
        width: 100%;
    }
}