.card:hover img {
    transform: scale(1.2, 1.2);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    opacity: 0.8;
    transform: scale(1.1);
  }
  
  .card img {
    transform: scale(1, 1);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    transition: transform 0.5s ease;
  }
  
  .card-img-wrapper {
    overflow: hidden;
    position: relative;
    width: 20rem;
    margin-top: 15px;
  }
  
  .card-img-top {
    overflow: hidden;
    position: relative;
    height: 300px;
    cursor: pointer;
  }
  
  
  .card-body {
    margin-top: 32px;
    display: block;
    line-height: 14pt;
    overflow: hidden;
    text-overflow: clip;
  }
  