<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container d-flex">
    <a class="navbar-brand" routerLink="/">
    <div class="text-center spotify-icon" >
      <img src="assets/icons/spotify.svg" alt="" width="75" height="75" />
    </div>
  </a>
    <div class="justify-content-end" id="navbarNav">
      <ul class="navbar-nav flex flex-row">
        <li class="nav-item ml-40">
          <a class="nav-link" routerLink="/artist-register-form">
            <h3 class="header-text">Register Artist </h3>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
