<div class="container-fluid">

<div class="d-flex mt-5 ml-20">
  <form>
    <div class="form-group">
      <h3>Search for an artist</h3>
      <input
        type="text"
        name="searchTerm"
        class="form-control search-input"
        [(ngModel)]="searchTerm"
        (input)="onSearchChange()"
        placeholder="Search ..."
      />
    </div>
  </form>
</div>



<div
  class="text-center mt-5"
>
<h3>Showing <span class="results">{{searchResults.length}}</span> results</h3>
</div>

<div class="container-fluid w-100 mt-5">
  <div class="row mx-auto mb-5">
    <div
      *ngFor="let artist of searchResults"
      class="col-xl-3 col-lg-4 col-md-6 col-sm-12"
    >
      <app-card
        [artistName]="artist?.name"
        [artistImage]="artist?.images[0]?.url"
        [artistFollowers]="artist?.followers?.total"
        [artistPopularity]="artist?.popularity"
        [artistId]="artist?.id"
        [artist]="true"
      ></app-card>
    </div>
  </div>
</div>

</div>
