<div class="d-flex align-items-center justify-content-center mt-5">
  <form>
    <div class="form-group">
      <h3>Search for an artist</h3>
      <input
        type="text"
        name="searchTerm"
        class="form-control search-input"
        [(ngModel)]="searchTerm"
        (input)="onSearchChange()"
        placeholder="Search ..."
      />
    </div>
  </form>
</div>

<div class="text-center spotify-icon" *ngIf="searchTerm == ''">
  <img src="assets/icons/spotify-logo.png" alt="" width="300" height="200" />
</div>

<div
  class="text-center mt-5"
  *ngIf="searchTerm !== '' && searchResults.length == 0"
>
  <h3>No results found</h3>
</div>

<div class="container-fluid custom-width">
  <div class="row mx-auto mb-5">
    <div
      *ngFor="let artist of searchResults"
      class="col-xl-3 col-lg-4 col-md-6 col-sm-12"
    >
      <app-card
        [artistName]="artist?.name"
        [artistImage]="artist?.images[0]?.url"
        [artistFollowers]="artist?.followers?.total"
        [artistPopularity]="artist?.popularity"
        [artistId]="artist?.id"
        [artist]="true"
      ></app-card>
    </div>
  </div>
</div>
